//PEN HEADER
.header
  h1.header__title Gradient Navigation
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/tab-navigation" title="Check on Github" target="_blanc") Check on Github