//PEN HEADER
.header
  h1.header__title Tabs Navigation UI
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/tab-navigation" title="Check on Github" target="_blanc") Check on Github
    
//PEN CONTENT
.content

  //content title
  h2.content__title Click to any navigation link
  
  //content inner
  .content__inner
    
    //tabs
    .tabs

      //tabs navigation
      .tabs__nav

        ul.tabs__nav-list
          
          li.tabs__nav-item.js-active Profile
          li.tabs__nav-item Settings
          li.tabs__nav-item About Us
          li.tabs__nav-item FAQ
          
    
      //tabs panels
      .tabs__panels
      
        //single panel
        .tabs__panel
        
          .tabs__panel-card
            .tabs__panel-avatar
            .tabs__panel-content
          
          .tabs__panel-card
            .tabs__panel-content
            
          .tabs__panel-card
            .tabs__panel-content
        
        //single panel
        .tabs__panel
        
          .tabs__panel-card
            .tabs__panel-content
            .tabs__panel-content
            
          .tabs__panel-card
            .tabs__panel-content
            
          .tabs__panel-card.tabs__panel-card--spaced-between
            .tabs__panel-img
            .tabs__panel-img
            .tabs__panel-img
        
        //single panel
        .tabs__panel
        
          .tabs__panel-card
            .tabs__panel-content
            
          .tabs__panel-card
            .tabs__panel-content
            .tabs__panel-img
            
          .tabs__panel-card
            .tabs__panel-img
            .tabs__panel-content
        
        //single panel
        .tabs__panel
        
          .tabs__panel-card
            .tabs__panel-content
            .tabs__panel-content
            
          .tabs__panel-card
            .tabs__panel-content
            
          .tabs__panel-card
            .tabs__panel-content
            .tabs__panel-content