//PEN HEADER
.header
  h1.header__title Tabs Navigation
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/tab-navigation" title="Check on Github" target="_blanc") Check on Github
    
//PEN CONTENT
.content

  //content title
  h2.content__title Drag navigation to the right/left to scroll
  
  //content inner
  .content__inner
    
    //tabs
    .tabs

      //tabs navigation
      .tabs__nav

        ul.tabs__nav-list
          
          li.tabs__nav-item Home
          li.tabs__nav-item Profile
          li.tabs__nav-item.js-active Settings
          li.tabs__nav-item About
          li.tabs__nav-item FAQ
          li.tabs__nav-item Contact
          
    
      //tabs content