//mixins
@mixin transition-mix ($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

//variables
$theme-font-color: #2c2c2c;


//common styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }
  color: $theme-font-color;
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

.btn {
  @include transition-mix;
  
  padding: 10px 20px;
  margin-right: 10px;
  
  background-color: #fff;
  border: 1px solid $theme-font-color;
  border-radius: 3px;
  
  cursor: pointer;
  
  outline: none;
  
  &:last-child {
    margin-right: 0;
  }
  
  &:hover,
  &.js-active{
    color: #fff;
    
    background-color: $theme-font-color;
  }
}

//header styles
.header {
  max-width: 500px;
  margin: 50px auto;
  
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  
  font: {
    weight: 500;
  }
}

//content styles
.content {
  max-width: 700px;
  margin: auto;
}

.content__title {
  margin-bottom: 20px;
  
  font: {
    size: 18px;
    weight: 500;
  }
  text-align: center;
}

.content__inner {
  width: 375px;
  height: 550px;
  
  margin: auto;
  
  box-shadow: 
    0 8px 17px 2px rgba(0,0,0,0.14), 
    0 3px 14px 2px rgba(0,0,0,0.12), 
    0 5px 5px -3px rgba(0,0,0,0.2);
}

//tabs styles
$tabs-padding: 15px;

.tabs {
  position: relative;
  
  padding: $tabs-padding;
  height: 100%;
  
  overflow: hidden;
}

//tabs nav styles
$theme-accent-color: #119DA4;

.tabs__nav {
  position: relative;
}

//nav decoration is appended by js
.tabs__nav-decoration {
  position: absolute;
  top: 0;
  left: 0;
  
  height: 100%;
  
  transition: width .2s linear 0s,
              transform .2s ease-out 0s;
  
  background-color: $theme-accent-color;
  border-radius: 3px;
  
  z-index: 1;
}

.tabs__nav-list {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  
  list-style-type: none;
  
  z-index: 5;
}

.tabs__nav-item {
  @include transition-mix($delay: 0s);
  
  padding: 15px;
  
  cursor: pointer;
  
  //active styles
  &.js-active {
    @include transition-mix($delay: .05s);
    color: #fff;
  }
}

$panels-bg-color: rgba(0,0,0,.15);

.tabs__panels {
  position: relative;
  
  margin-top: 30px;
}

.tabs__panel {
  @include position-absolute($top: 0, $left: 0);
  
  transition: none;
  
  transform: scale(.8);
  
  width: 100%;
  
  opacity: 0;
  
  //active panel styles
  &.js-active {
    transition: all .25s linear 0s;
    
    transform: scale(1);
    
    opacity: 1;
  }
}

.tabs__panel-card {
  display: flex;
  margin-bottom: 30px;
  padding: 15px;
  
  box-shadow: 
    0 2px 2px 0 rgba(0,0,0,0.14), 
    0 3px 1px -2px rgba(0,0,0,0.12), 
    0 1px 5px 0 rgba(0,0,0,0.2);
  
  &:last-child {
    margin-bottom: 0;
  }
}

.tabs__panel-card--spaced-between {
  justify-content: space-between;
}

.tabs__panel-avatar {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  
  border-radius: 50%;
  background-color: $panels-bg-color;
}

.tabs__panel-img {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  
  border-radius: 4px;
  background-color: $panels-bg-color;
}

.tabs__panel-content {
  width: 100%;
  margin-left: 30px;
  
  &:first-child {
    margin-left: 0;
  }
  
  &:not(:last-child) {
    margin-right: 30px;
  }
  
  &:before,
  &:after {
    display: block;
    width: 100%;
    height: 20px;
    
    content: '';
    
    background-color: $panels-bg-color;
  }
  
  &:before {
    margin-bottom: 15px;
  }
  
}
